{{- define "main" }}

{{- if not .IsHome }}
<header class="page-header">
  {{- partial "breadcrumbs.html" . }}
  <h1>
    {{ .Title }}
    {{- with .OutputFormats.Get "rss" }}
    <a href="{{ .RelPermalink }}" title="RSS" aria-label="RSS" style="margin-left: 10px;">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
        stroke-linecap="round" stroke-linejoin="round" height="23">
        <path d="M4 11a9 9 0 0 1 9 9" />
        <path d="M4 4a16 16 0 0 1 16 16" />
        <circle cx="5" cy="19" r="1" />
      </svg>
    </a>
    {{- end }}
  </h1>
  {{- if .Description }}
  <div class="post-description">
    {{ .Description | markdownify }}
  </div>
  {{- end }}
</header>
{{- end }}

{{- if .Content }}
<div class="post-content">
  {{- if not (.Param "disableAnchoredHeadings") }}
  {{- partial "anchored_headings.html" .Content -}}
  {{- else }}{{ .Content }}{{ end }}
</div>
{{- end }}

{{- $tags := .Data.Terms.ByCount }}
{{- if $tags }}
<div class="tags-cloud">
  {{- range $tags }}
  {{- $weight := div (mul .Count 5.0) (add (len $.Data.Terms) 1) }}
  {{- $weight := math.Ceil (add $weight 0.8) }}
  <a href="{{ .Page.Permalink }}" class="tag-cloud-item tag-weight-{{ $weight }}">
    <span class="tag-name"># {{ .Page.Title }}</span>
    <span class="tag-count">{{ .Count }}</span>
  </a>
  {{- end }}
</div>
{{- end }}

{{- end }}{{- /* end main */ -}}